{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet  %} {% endblock stylesheet %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    {% block content %}{% endblock content %}
    {% block script %}{% endblock script %}
</body>
</html>